
.contenido{
    margin-top:25px;
}

.barra_nav{
    
    background: #ffc800;
}

.card{
    margin-bottom:5px
}

span.error{
    color:#ff0000;
}
input.error{
    border-color:#ff0000;
}
.centrado{
    text-align:center
}
.disabled{
    background-color: #ebebeb;
}


/*
Ventana emergente

position: absolute;
width: 400px;
height: 500px;
display: block;
top: 200px;
background: #ccc;
left: 600px;
*/